<p id="notice"><%= notice %></p>

<p>
  <strong>Multi spec sample:</strong>
  <%= @multi_spec_value.multi_spec_sample_id %>
</p>

<p>
  <strong>Wavelength:</strong>
  <%= @multi_spec_value.wavelength %>
</p>

<p>
  <strong>Range:</strong>
  <%= @multi_spec_value.range %>
</p>

<p>
  <strong>Value:</strong>
  <%= @multi_spec_value.value %>
</p>

<p>
  <strong>Reflectance:</strong>
  <%= @multi_spec_value.reflectance %>
</p>

<p>
  <strong>Normalized:</strong>
  <%= @multi_spec_value.normalized %>
</p>

<p>
  <strong>Upload status:</strong>
  <%= @multi_spec_value.upload_status %>
</p>

<%= link_to 'Edit', edit_multi_spec_value_path(@multi_spec_value) %> |
<%= link_to 'Back', multi_spec_values_path %>
