<h2>Sign up</h2>

  <% puts'reg_path = ' + registration_path(resource_name) %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
      <% p 'minimum password length = ' + @minimum_password_length.to_s %>
    <%= f.label :password %>

    <% if @validatable %>
          <% p '@validatable: minimum password length = ' + @minimum_password_length.to_s %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />

    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%#= f.label :password_confirmation %><br />
    <%#= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>




  <div class="actions">
      <% p 'password = ' + :password.to_s  %>
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
