<script src="./path/to/dropzone.js"></script>

<%= form_for(@multi_spec_sample) do |f| %>
  <% if @multi_spec_sample.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@multi_spec_sample.errors.count, "error") %> prohibited this multi_spec_sample from being saved:</h2>

      <ul>
      <% @multi_spec_sample.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :MultiSpecSample_id %><br>
    <%= f.number_field :MultiSpecSample_id %>
  </div>
  <div class="field">
    <%= f.label :manifest %><br>
    <%= f.text_field :manifest %>
  </div>
  <div class="field">
    <%= f.label :manifest %><br>
    <%= f.text_field :manifest %>
  </div>
  <div class="field">
    <%= f.label :canvas %><br>
    <%= f.text_field :canvas %>
  </div>
  <div class="field">
    <%= f.label :x %><br>
    <%= f.number_field :x %>
  </div>
  <div class="field">
    <%= f.label :y %><br>
    <%= f.number_field :y %>
  </div>
  <div class="field">
    <%= f.label :wavelength %><br>
    <%= f.number_field :wavelength %>
  </div>
  <div class="field">
    <%= f.label :reflectance %><br>
    <%= f.number_field :reflectance %>
  </div>
  <div class="field">
    <%= f.label :normalized %><br>
    <%= f.check_box :normalized %>
  </div>
  <div class="field">
    <%= f.label :creatingApplication %><br>
    <%= f.text_field :creatingApplication %>
  </div>
  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_area :comment %>
  </div>
  <div class="field">
    <%= f.label :exrFileName %><br>
    <%= f.text_field :exrFileName %>
  </div>
  <div class="field">
    <%= f.label :user %><br>
    <%= f.text_field :user %>
  </div>
  <div class="field">
    <%= f.label :createdOn %><br>
    <%= f.datetime_select :createdOn %>
  </div>
  <div class="field">
    <%= f.label :profileID %><br>
    <%= f.number_field :profileID %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
