<p id="notice"><%= notice %></p>

<p>
  <strong>Multi spec sample:</strong>
  <%= @multi_spec_sample.multi_spec_sample_id %>
</p>

<p>
  <strong>Manifest:</strong>
  <%= @multi_spec_sample.manifest %>
</p>

<p>
  <strong>Canvas:</strong>
  <%= @multi_spec_sample.canvas %>
</p>

<p>
  <strong>X:</strong>
  <%= @multi_spec_sample.x %>
</p>

<p>
  <strong>Y:</strong>
  <%= @multi_spec_sample.y %>
</p>

<p>
  <strong>Creatingapplication:</strong>
  <%= @multi_spec_sample.creatingApplication %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @multi_spec_sample.comment %>
</p>

<p>
  <strong>Exrfilename:</strong>
  <%= @multi_spec_sample.exrFileName %>
</p>

<p>
  <strong>User:</strong>
  <%= @multi_spec_sample.user %>
</p>

<p>
  <strong>Profileid:</strong>
  <%= @multi_spec_sample.profileID %>
</p>

<p>
  <strong>Upload status:</strong>
  <%= @multi_spec_sample.upload_status %>
</p>

<%= link_to 'Edit', edit_multi_spec_sample_path(@multi_spec_sample) %> |
<%= link_to 'Back', multi_spec_samples_path %>
