<p id="notice"><%= notice %></p>

<h1>Listing Multi Spectral Profiles</h1>

<table>
  <thead>
    <tr>
      <th>Profileid</th>
      <th>Numbands</th>
      <th>Bandranges</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @multi_spectral_profiles.each do |multi_spectral_profile| %>
      <tr>
        <td><%= multi_spectral_profile.profileId %></td>
        <td><%= multi_spectral_profile.NumBands %></td>
        <td><%= multi_spectral_profile.BandRanges %></td>
        <td><%= multi_spectral_profile.notes %></td>
        <td><%= link_to 'Show', multi_spectral_profile %></td>
        <td><%= link_to 'Edit', edit_multi_spectral_profile_path(multi_spectral_profile) %></td>
        <td><%= link_to 'Destroy', multi_spectral_profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Multi spectral profile', new_multi_spectral_profile_path %>
