<p id="notice"><%= notice %></p>

<h1>Listing Multi Spec Bar Charts</h1>

<table>
  <thead>
    <tr>
      <th>Multispecsample</th>
      <th>Barchart png filespec</th>
      <th>Bar</th>
      <th>Chart png image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @multi_spec_bar_charts.each do |multi_spec_bar_chart| %>
      <tr>
        <td><%= multi_spec_bar_chart.MultiSpecSample_id %></td>
        <td><%= multi_spec_bar_chart.barchart_png_filespec %></td>
        <td><%= multi_spec_bar_chart.bar %></td>
        <td><%= multi_spec_bar_chart.chart_png_image %></td>
        <td><%= link_to 'Show', multi_spec_bar_chart %></td>
        <td><%= link_to 'Edit', edit_multi_spec_bar_chart_path(multi_spec_bar_chart) %></td>
        <td><%= link_to 'Destroy', multi_spec_bar_chart, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Multi spec bar chart', new_multi_spec_bar_chart_path %>
