<p id="notice"><%= notice %></p>

<p>
  <strong>Multi spec sample:</strong>
  <%= @multi_spec_bar_chart.multi_spec_sample_id %>
</p>

<p>
  <strong>Barchart png filename:</strong>
  <%= @multi_spec_bar_chart.barchart_png_filename %>
</p>

<p>
  <strong>Bar:</strong>
  <%= @multi_spec_bar_chart.bar %>
</p>

<p>
  <strong>Chart png image:</strong>
  <%= @multi_spec_bar_chart.chart_png_image %>
</p>

<p>
  <strong>Upload status:</strong>
  <%= @multi_spec_bar_chart.upload_status %>
</p>

<%= link_to 'Edit', edit_multi_spec_bar_chart_path(@multi_spec_bar_chart) %> |
<%= link_to 'Back', multi_spec_bar_charts_path %>
