<p id="notice"><%= notice %></p>

<p>
  <strong>Multispecsample:</strong>
  <%= @multi_spec_tag.MultiSpecSample_id %>
</p>

<p>
  <strong>:</strong>
  <%= @multi_spec_tag. %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @multi_spec_tag.Tag %>
</p>

<p>
  <strong>:</strong>
  <%= @multi_spec_tag. %>
</p>

<p>
  <strong>Tagvalue:</strong>
  <%= @multi_spec_tag.TagValue %>
</p>

<p>
  <strong>:</strong>
  <%= @multi_spec_tag. %>
</p>

<%= link_to 'Edit', edit_multi_spec_tag_path(@multi_spec_tag) %> |
<%= link_to 'Back', multi_spec_tags_path %>
