<p id="notice"><%= notice %></p>

<p>
  <strong>Multi spec sample:</strong>
  <%= @multi_spec_tag.multi_spec_sample_id %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @multi_spec_tag.Tag %>
</p>

<p>
  <strong>Tagvalue:</strong>
  <%= @multi_spec_tag.TagValue %>
</p>

<p>
  <strong>Upload status:</strong>
  <%= @multi_spec_tag.upload_status %>
</p>

<%= link_to 'Edit', edit_multi_spec_tag_path(@multi_spec_tag) %> |
<%= link_to 'Back', multi_spec_tags_path %>
