<%= form_for(@activity) do |f| %>
  <% if @activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
      <% @activity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :MultiSpecSample_id %><br>
    <%= f.text_field :MultiSpecSample_id %>
  </div>
  <div class="field">
    <%= f.label : %><br>
    <%= f.number_field : %>
  </div>
  <div class="field">
    <%= f.label :Status %><br>
    <%= f.text_field :Status %>
  </div>
  <div class="field">
    <%= f.label :UploadedOn %><br>
    <%= f.datetime_select :UploadedOn %>
  </div>
  <div class="field">
    <%= f.label :UploadedBy %><br>
    <%= f.text_field :UploadedBy %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
