<p id="notice"><%= notice %></p>

<h1>Listing Activities</h1>

<table>
  <thead>
    <tr>
      <th>Multispecsample</th>
      <th></th>
      <th>Status</th>
      <th>Uploadedon</th>
      <th>Uploadedby</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.MultiSpecSample_id %></td>
        <td><%= activity. %></td>
        <td><%= activity.Status %></td>
        <td><%= activity.UploadedOn %></td>
        <td><%= activity.UploadedBy %></td>
        <td><%= link_to 'Show', activity %></td>
        <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
        <td><%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Activity', new_activity_path %>
