<p id="notice"><%= notice %></p>

<p>
  <strong>Multispecsample:</strong>
  <%= @activity.MultiSpecSample_id %>
</p>

<p>
  <strong>:</strong>
  <%= @activity. %>
</p>

<p>
  <strong>Status:</strong>
  <%= @activity.Status %>
</p>

<p>
  <strong>Uploadedon:</strong>
  <%= @activity.UploadedOn %>
</p>

<p>
  <strong>Uploadedby:</strong>
  <%= @activity.UploadedBy %>
</p>

<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
