<div class="container">
    <h3>Search/Upload Results</h3>
    <% @samples.each do |sample| %>
        <!--<a href="/detail?sampleId=<%#=sample.id%>"/>-->
        <div class="result">
            <a href="/detail?sampleId=<%=sample.id%>">
                <div class="images">
                    <div class="thumb">
                        <%= render_jpeg_via_IIIF (sample) %>
                    </div>
                    <div class="barchart">
                        <%= render_barchart(sample) %>
                    </div>
                </div>
                <div class="metadata">
                    <b>Creator:</b> <%= sample.user %><br>
                    <% date = sample.created_at
                       date = sample.updated_at if sample.updated_at > sample.created_at %>
                    <b>Date:</b><%= l date, :format => :long %><br>
                </div>
            </a>
            <!--<div class= "metadata">
                <strong>Barchart Filename: </strong> <%#= sample.multispectral_barchart.barchart_png_filename %>
            </div>-->

        </div>
    <% end %>
</div>
</div>